---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="">
    <div class="flex flex-col items-center">
      <div class="xl:w-[75rem] w-full">
        <nav
          class="sticky top-0 z-50 h-16 px-4 border-b-[0.5px] border-solid border-[#1e2029] flex items-center w-full bg-black"
        >
          <div class="w-full flex items-center justify-between">
            <div>
              <button class="text-slate-100 text-base font-semibold"
                >Resume</button
              >
            </div>
            <div class="flex gap-x-7 text-slate-100 text-base font-semibold">
              <a href="" class="p-2">About</a>
              <a href="" class="p-2">Experience</a>
              <a href="" class="p-2">Projects</a>
            </div>
          </div>
        </nav>
        <div class="md:px-12 px-5">
          <slot />
        </div>
      </div>
    </div>
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: Inter, system-ui, sans-serif;
    background: #000;
  }
  code {
    font-family:
      Inter,
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
